* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
    transition: 0.3s;
    padding-bottom: 30px;
}

body.dark {
    background: #1b1b1b;
    color: #eee;
}

header {
    padding: 20px;
    background: #cdd9fe;
    color: rgb(194, 87, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .perfil {
    width: 120px;
    border-radius: 0%;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}

body.dark .card {
    background: #2a2a2a;
}

section {
    padding: 40px 20px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

#modo-btn {
    padding: 8px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }
}
