body {
  margin: 0;
  background: #000000;
  font-family: Arial, sans-serif;
}

header {
  background: #a42323;
  padding: 20px;
  text-align: center;
  color: white;
}

main {
  padding: 20px;
}

article {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000022;
}
