*{margin:0;padding:0;box-sizing:border-box;font-family:Arial, sans-serif;}
body{
    background:#f4f4f4;
}
header{
    text-align:center;
    padding:40px 0;
    background:linear-gradient(135deg, #48424e, #fc2586);
    color:white;
    font-size:1.6rem;
}
main{
    padding:30px;
}
.sobre, .projetos{
    margin-bottom:40px;
}
h2{
    margin-bottom:10px;
    color:#333;
}
p{
    margin-bottom:20px;
}
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
}
.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.10);
    transition:.3s;
    font-weight:600;
}
.card:hover{
    transform:translateY(-5px);
}
footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}
